---
apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: traefik-dashboard
  namespace: {{ traefik_namespace }}

spec:
  entryPoints:
    - websecure

  routes:
    - match: Host(`{{ traefik_hostname }}`)
      kind: Rule
      middlewares:
        - name: traefik-dashboard-basicauth
          namespace: traefik
      services:
        - name: api@internal
          kind: TraefikService
  tls: {}
